$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$font-size-base: 16px;

// bower:scss
//noinspection CssUnknownTarget
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.navbar-dzj {
  margin-bottom: 0;
  font-weight: bold;
}

.mg-t-1 {
  margin-top: 40px;
}

.table-col-2 {
  td {
    width: 50%;
  }
}


.hover-pink:hover h3 span {
  color: deeppink;
}

.love-1 {
  @include animation(love 1s 1s);
}

.love-2 {
  @include animation(love 1s 2s);
}

.love-3 {
  @include animation(love 1s 3s);
}

@-webkit-keyframes love {
  0% {color: inherit;}
  50% {color: deeppink;}
  100% {color: inherit;}
}