---
layout: page
title: About
permalink: /about/
order: 2
---

<img src="http://www.gravatar.com/avatar/9ab5ebde0d9f8e1fa744ed0d1202d32f.png" alt="A photo of me"
     class="about-photo img-rounded m-r-1">

<p>
  My name is Dzjon Hessing and I have 6 years of experience as a full-stack developer. I've also been programming since
  I was 10 years old. I like functional programming and Clojure in particular, but a good Python list comprehension can
  make me very happy as well.
</p>

<p>
  I am currently doing courses on
  <a href="https://www.udacity.com/course/machine-learning-engineer-nanodegree--nd009">Machine Learning</a>
  from Udacity. My progress is tracked below.
</p>

<h2>Education/Courses</h2>

<table class="table table-sm borderless">
  <tr>
    <th>2016</th>
    <td>Udacity, Machine Learning Engineer Nanodegree (in progress)</td>
  </tr>
  <tr>
    <th>2013</th>
    <td>edX Berkley CS169, Software as a Service <a
        href="https://s3.amazonaws.com/verify.edx.org/downloads/c9e908f211a845c182f9ad4065bcc19b/Certificate.pdf">(certificate)</a>
    </td>
  </tr>
  <tr>
    <th>2007 - 2010</th>
    <td>Universiteit Utrecht, Bachelor Computer Science (uncompleted)</td>
  </tr>
  <tr>
    <th>2001 - 2007</th>
    <td>VWO, NG+NT + Latin</td>
  </tr>
</table>

{% include courses.html %}

<h2>Skills</h2>

<table class="table table-sm">
  <thead>
  <tr>
    <th colspan="2">Languages</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Python</td>
    <td>★★★★</td>
  </tr>
  <tr>
    <td>HTML/CSS</td>
    <td>★★★★</td>
  </tr>
    <td>Clojure(Script)</td>
    <td>★★★</td>
  <tr>
    <td>Javascript</td>
    <td>★★★</td>
  </tr>
  <tr>
    <td>AngularJS</td>
    <td>★★★</td>
  </tr>
  <tr>
    <td>React</td>
    <td>★★</td>
  </tr>
  <tr>
    <td>Ruby</td>
    <td>★★</td>
  </tr>
  <tr>
    <td>Java</td>
    <td>★★</td>
  </tr>
  <tr>
    <td>Haskell</td>
    <td>★</td>
  </tr>
  <tr>
    <td>C/C++</td>
    <td>★</td>
  </tr>
  </tbody>
</table>

<h2>Other Skills</h2>
<table class="table table-sm">
  <tr>
    <th>Version Control</th>
    <td>Git, Mercurial, SVN</td>
  </tr>
  <tr>
    <th>Query Languages</th>
    <td>SQL, Datalog</td>
  </tr>
  <tr>
    <th>Platforms</th>
    <td>MacOSX, Linux, Windows :(</td>
  </tr>
  <tr>
    <th>Testing</th>
    <td><span class="text-success">✓</span></td>
  </tr>
</table>


<h2>Personal Projects</h2>

<ul>
  <li>Project Euler solutions: {% include icon-github.html username="dhessing" %} / <a href="https://github.com/dhessing/project-euler">project-euler</a></li>
  <li>Reagent implementation of the game Stars: {% include icon-github.html username="dhessing" %} / <a href="https://github.com/dhessing/stars-reagent">stars-reagent</a></li>
  <li>om-next implementation of the game Stars: {% include icon-github.html username="dhessing" %} / <a href="https://github.com/dhessing/stars-om-next">stars-om-next</a></li></li>
</ul>


<h2>Employers</h2>

<table class="table table-sm">
  <tr><th>2015</th><td>CapCloud | Django/Python</td></tr>
  <tr><th>2014</th><td>Deft | Symfony/PHP, AngularJS/Javascript</td></tr>
  <tr><th>2013</th><td>Jibe Company | Django/Python, AngularJS/Javascript</td></tr>
  <tr><th>2012</th><td>Django Webstudio | Django/Python</td></tr>
  <tr><th>2011</th><td>Ride the Pony | Django/Python</td></tr>
  <tr><th>2010</th><td>Stichting Besparingsplanner | Django/Python</td></tr>
</table>