<h2>Course Progress</h2>

<div class="course-progress">
  {% assign progress = 72 %}
  <p class="m-b-2">
    <a href="https://www.khanacademy.org/math/differential-calculus">Differential calculus</a> • {{ progress }}%
    <progress class="progress progress-info" value="{{ progress }}" max="100"></progress>
  </p>

  {% assign progress = 62 %}
  <p class="m-b-2">
    <a href="https://www.udacity.com/course/intro-to-data-analysis--ud170">Intro to Data Analysis</a> • {{ progress }}%
    <progress class="progress progress-info" value="{{ progress }}" max="100"></progress>
  </p>

  {% assign progress = 100 %}
  <p class="m-b-2">
    <a href="https://www.udacity.com/course/linear-algebra-refresher-course--ud953">Linear Algebra Refresher Course</a> • {{ progress }}%
    <progress class="progress progress-info" value="{{ progress }}" max="100"></progress>
  </p>

  {% assign progress = 100 %}
  <p>
    <a href="https://www.udacity.com/course/intro-to-statistics--st101">Introduction to Statistics</a> • {{ progress }}%
    <progress class="progress progress-info" value="{{ progress }}" max="100"></progress>
  </p>

  <p class="text-muted">Last update: {{ "2016-05-15" | timeago }}</p>
</div>