<h2>Course Progress</h2>

<div class="course-progress">
  <p class="m-b-2">
    <a href="https://www.udacity.com/course/intro-to-data-analysis--ud170">Intro to Data Analysis</a> • 7%
    <progress class="progress progress-info" value="7" max="100"></progress>
  </p>

  <p class="m-b-2">
    <a href="https://www.udacity.com/course/linear-algebra-refresher-course--ud953">Linear Algebra Refresher Course</a> • 100%
    <progress class="progress progress-info" value="100" max="100"></progress>
  </p>

  <p>
    <a href="https://www.udacity.com/course/intro-to-statistics--st101">Introduction to Statistics</a> • 100%
    <progress class="progress progress-info" value="100" max="100"></progress>
  </p>

  <p class="text-muted">Last update: {{ "2016-04-08" | timeago }}</p>
</div>