<h2>Course Progress</h2>

<div class="course-progress">
  <h4 class="m-t-1">Udacity</h4>

  {% assign progress = 21 %}
  <p class="m-b-2">
    <a href="https://www.udacity.com/course/intro-to-artificial-intelligence--cs271">Intro to Artificial Intelligence</a> • {{ progress }}%
    <progress class="progress progress-info" value="{{ progress }}" max="100"></progress>
  </p>

  {% assign progress = 100 %}
  <p class="m-b-2">
    <a href="https://www.udacity.com/course/intro-to-data-analysis--ud170">Intro to Data Analysis</a> • {{ progress }}%
    <progress class="progress progress-info" value="{{ progress }}" max="100"></progress>
  </p>

  {% assign progress = 100 %}
  <p class="m-b-2">
    <a href="https://www.udacity.com/course/linear-algebra-refresher-course--ud953">Linear Algebra Refresher Course</a> • {{ progress }}%
    <progress class="progress progress-info" value="{{ progress }}" max="100"></progress>
  </p>

  {% assign progress = 100 %}
  <p>
    <a href="https://www.udacity.com/course/intro-to-statistics--st101">Introduction to Statistics</a> • {{ progress }}%
    <progress class="progress progress-info" value="{{ progress }}" max="100"></progress>
  </p>



  <h4>Khan Academy</h4>

  {% assign progress = 3 %}
  <p class="m-b-2">
    <a href="https://www.khanacademy.org/math/linear-algebra">Linear algebra</a> • {{ progress | times: 100 | divided_by: 19 }}%
    <progress class="progress progress-info" value="{{ progress }}" max="19"></progress>
  </p>

  {% assign progress = 90 %}
  <p class="m-b-2">
    <a href="https://www.khanacademy.org/math/differential-calculus">Differential calculus</a> • {{ progress }}%
    <progress class="progress progress-info" value="{{ progress }}" max="100"></progress>
  </p>

  <p class="text-muted">Last update: 2016-05-24</p>
</div>