$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$base-color-500: #3F51B5;
$base-color-700: #303F9F;
$base-color-800: #283593;
$accent-color: #FF6E40;
$accent-color-dark: #FF3D00;
