@import 'base.scss';
@import 'bootstrap/scss/bootstrap.scss';
@import 'syntax-highlighting';
@import 'blog';
@import "font-awesome-sprockets";
@import "font-awesome";

blockquote {
    @extend .blockquote;
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
    white-space: pre;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Icons
 */
.icon {
    color: $grey-color;

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
  * About
  */

.about-photo {
    float: left;
    border: 1px solid grey;
}


h1, h2, h3, h4, h5, h6 {
    &:not(:first-child) {
        margin-top: 3rem;
    }
}

/**
  * Footer
  */
.blog-footer {
  text-align: left;
}

/**
  * Blockquote
  */
blockquote {
    font-size: 1rem;
}

/**
  * List
  */
.no-bullets {
    list-style: none;
}

/**
  * Blog
  */
.blog-post img {
    @include center-block;
}