<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.title }} | {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:image" content="">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ site.url }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="">

  <link rel="apple-touch-icon" href="{% asset_path apple-touch-icon.png %}">
  <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>


  {% stylesheet application %}
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong>
  browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>
  to improve your experience.</p>
<![endif]-->


<div class="blog-masthead">
  <div class="container">
    <nav role="navigation" class="nav blog-nav">
      {% assign sorted_pages = site.pages | sort:"order" %}
      <a class="nav-link {% if page.url == '/'> %}active{% endif %}" href="/">Home</a>
      <a class="nav-link {% if page.url == '/category/courses/' or page.category == 'Courses' %}active{% endif %}" href="/category/courses/">Courses</a>
      <a class="nav-link {% if page.url == '/category/project-euler/' or page.category == 'Project Euler' %}active{% endif %}" href="/category/project-euler/">Project Euler</a>
      <a class="nav-link {% if page.url == '/about/' %}active{% endif %}" href="/about/">About</a>
    </nav>
  </div>
</div>

<main role="main" class="container">
  {{ content }}
</main>

<footer class="blog-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul class="list-unstyled">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="list-unstyled ">
          {% include social-links.html %}
        </ul>
      </div>

      <div class="col-sm-4">
        <p>My experiences with Machine Learning, Clojure and Python.</p>
      </div>
    </div>
  </div>
</footer>


{% javascript vendor %}
{% javascript application %}

<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','{{ site.ga_analytics }}','auto');ga('send','pageview');


</script>
</body>
</html>
